<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>timesDriven</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>lamborginiMurcielago.png</string>
		<key>lastStarted</key>
		<date>2020-06-14T00:53:23Z</date>
		<key>model</key>
		<string>Murcielago</string>
		<key>mark</key>
		<string>Lamborgini</string>
		<key>rating</key>
		<integer>5</integer>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>232</integer>
			<key>green</key>
			<integer>224</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>timesDriven</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>ferrariEnzo.png</string>
		<key>lastStarted</key>
		<date>2020-07-14T00:53:23Z</date>
		<key>model</key>
		<string>Enzo</string>
		<key>mark</key>
		<string>Ferrrari</string>
		<key>rating</key>
		<integer>5</integer>
		<key>myChoice</key>
		<true/>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>232</integer>
			<key>green</key>
			<integer>31</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>timesDriven</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>bmwX6.png</string>
		<key>lastStarted</key>
		<date>2020-06-14T00:53:23Z</date>
		<key>model</key>
		<string>X6</string>
		<key>mark</key>
		<string>BMW</string>
		<key>rating</key>
		<integer>5</integer>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>193</integer>
			<key>green</key>
			<integer>32</integer>
			<key>blue</key>
			<integer>22</integer>
		</dict>
	</dict>
	<dict>
		<key>timesDriven</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>mercedesGL.png</string>
		<key>lastStarted</key>
		<date>2020-06-14T00:53:23Z</date>
		<key>model</key>
		<string>GL</string>
		<key>mark</key>
		<string>Mercedes</string>
		<key>rating</key>
		<integer>5</integer>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>94</integer>
			<key>green</key>
			<integer>164</integer>
			<key>blue</key>
			<integer>255</integer>
		</dict>
	</dict>
	<dict>
		<key>timesDriven</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>nissanPatrol.png</string>
		<key>lastStarted</key>
		<date>2020-06-14T00:53:23Z</date>
		<key>model</key>
		<string>Patrol</string>
		<key>mark</key>
		<string>Nissan</string>
		<key>rating</key>
		<integer>5</integer>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>red</key>
			<integer>154</integer>
			<key>green</key>
			<integer>154</integer>
			<key>blue</key>
			<integer>154</integer>
		</dict>
	</dict>
</array>
</plist>
